
{
    attributes = 
    (
       
       {
           adaptorValueConversionMethodName = toString;
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString;
           name = bool;
           valueClassName = java.lang.Boolean;
           valueFactoryMethodName = valueOf;
           valueType = c;
           width = 5;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = INTEGER;
           name = boolean;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = BLOB;
           name = data;
           valueClassName = NSData;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = DATE;
           name = date;
           valueClassName = NSCalendarDate;
           valueType = D;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = TIMESTAMP;
           name = datetime;
           valueClassName = NSCalendarDate;
           valueType = T;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = DECIMAL;
           name = decimal2;
           precision = 20;
           scale = 2;
           valueClassName = NSDecimalNumber;
           valueType = B;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = DECIMAL;
           name = decimal3;
           precision = 20;
           scale = 3;
           valueClassName = NSDecimalNumber;
           valueType = B;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = DECIMAL;
           name = decimal4;
           precision = 20;
           scale = 4;
           valueClassName = NSDecimalNumber;
           valueType = B;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = "DOUBLE PRECISION";
           name = double;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           adaptorValueConversionMethodName = toString;
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString;
           name = flag;
           valueClassName = java.lang.Boolean;
           valueFactoryMethodName = valueOf;
           valueType = c;
           width = 5;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = "DOUBLE PRECISION";
           name = geoCoordinate;
           valueClassName = NSNumber;
           valueType = d;
       }, 
       
       {
           columnName = "";
           externalType = BYTE;
           name = globalID;
           valueClassName = NSData;
           width = 24;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = INTEGER;
           name = intBoolean;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           columnName = "";
           externalType = INTEGER;
           name = intKey;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = INTEGER;
           name = integer;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           columnName = id;
           externalType = INTEGER;
           name = key;
           valueClassName = NSNumber;
           valueType = i;
           width = 24;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = LONGINT;
           name = long;
           valueClassName = NSNumber;
           valueType = l;
       }, 
       
       {
           columnName = "";
           externalType = LONGINT;
           name = longKey;
           valueClassName = NSNumber;
           valueType = l;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = DECIMAL;
           name = money;
           precision = 20;
           scale = 2;
           valueClassName = NSDecimalNumber;
           valueType = B;
       }, 
       
       {
           adaptorValueConversionMethodName = toBlob;
           allowsNull = Y;
           columnName = "";
           externalType = BLOB;
           name = mutableArray;
           valueClassName = er.extensions.ERXMutableArray;
           valueFactoryMethodName = fromBlob;
       }, 
       
       {
           adaptorValueConversionMethodName = toBlob;
           allowsNull = Y;
           columnName = "";
           externalType = BLOB;
           name = mutableDictionary;
           valueClassName = er.extensions.ERXMutableDictionary;
           valueFactoryMethodName = fromBlob;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           name = string256;
           valueClassName = NSString;
           valueType = S;
           width = 256;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           name = string32;
           valueClassName = NSString;
           valueType = S;
           width = 32;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           name = string4k;
           valueClassName = NSString;
           valueType = S;
           width = 4000;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           name = string4m;
           valueClassName = NSString;
           valueType = S;
           width = 4000000;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = VARCHAR;
           name = string64k;
           valueClassName = NSString;
           valueType = S;
           width = 64000;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           externalType = TIMESTAMP;
           name = time;
           valueClassName = NSCalendarDate;
           valueType = t;
       }
    );
    attributesUsedForLocking = 
    (
       double, 
       globalID, 
       intKey
    );
    classProperties = 
    (
       bool, 
       boolean, 
       data, 
       date, 
       datetime, 
       decimal2, 
       decimal3, 
       decimal4, 
       double, 
       flag, 
       geoCoordinate, 
       intBoolean, 
       integer, 
       long, 
       money, 
       mutableArray, 
       mutableDictionary, 
       string256, 
       string32, 
       string4k, 
       string4m, 
       string64k, 
       time
    );
    internalInfo = 
    {};
    name = EOJDBCEVFrontBasePrototypes;
    primaryKeyAttributes = 
    (
       globalID, 
       intKey, 
       key, 
       longKey
    );
}