<table class="d2w_inspect_table" cellspacing="0" border="0" cellpadding="0">
    <webobject name="Sections"><webobject name="HasSectionName">
            <tr>
                <td class="d2w_inspect_section" align="left" valign="middle" colspan="2"><webobject name="Section"></webobject></td>
            </tr>
        </webobject>
        <webobject name="NotUsingMatrixLayout"><webobject name="NotUsingTableLayout">
            <webobject name="AttributeRepetition"><webobject name="HasPropertyName">
                    <tr>
                        <td align="left" nowrap valign="top" class="d2w_property_cell_label"><webobject name="PropertyNameSpan"><webobject name="PropertyName"></webobject></webobject></td>
                        <td align="left" width="100%" valign="top" class="d2w_property_cell_value"><webobject name="SafeWrapper"><webobject name="PropertyValueSpan"><webobject name=AttributeValue></webobject></webobject></webobject></td>
                    </tr>
                </webobject><webobject name="HasntPropertyName">
                    <tr>
                        <td align=left width="100%" valign=top colspan="3"><webobject name="SafeWrapper"><webobject name=AttributeValue></webobject></webobject></td>
                    </tr>
                </webobject>
            </webobject>
        </webobject></webobject><webobject name="UseMatrixLayout">
            <tr>
                <td align="left" colspan="2" valign="top"><webobject name="ERXTable">
                	<webobject name="UseHorizontalLayoutTables"><webobject name="MatrixTableH">
	                    <tr>
	                    	<webobject name="HMatrixLabelCell"><webobject name="PropertyNameSpan"><webobject name="PropertyName"></webobject></webobject></webobject>
	                    	<webobject name="HMatrixValueCell"><webobject name="PropertyValueSpan"><webobject name="AttributeValue"></webobject></webobject></webobject>
	                    </tr>
                    </webobject></webobject><webobject name="UseVerticalLayoutTables"><webobject name="MatrixTableV">
                    	<webobject name="HasPropertyName">
	                    <tr>
	                    	<webobject name="VMatrixLabelCell"><webobject name="PropertyNameSpan"><webobject name=PropertyName></webobject></webobject></webobject>
	                    </tr>
	                    </webobject>
	                    <tr>
	                    	<webobject name="VMatrixValueCell"><webobject name="PropertyValueSpan"><webobject name=AttributeValue></webobject></webobject></webobject>
	                    </tr>
                    </webobject></webobject></webobject>
				</td>
            </tr>
        </webobject><webobject name="UseTableLayout">
            <tr>
                <td align="left" colspan="2"><webobject name="ERXLayoutTable">
					<webobject name="UseHorizontalLayoutTables"><webobject name="HInnerLayoutTable">
						<tr>
							<webobject name="HLayoutLabelCell"><webobject name="PropertyNameSpan"><webobject name="PropertyName"></webobject></webobject></webobject>
							<webobject name="HLayoutValueCell"><webobject name="PropertyValueSpan"><webobject name="AttributeValue"></webobject></webobject></webobject> 
						</tr>
					</webobject></webobject>
					<webobject name="UseVerticalLayoutTables"><webobject name="VInnerLayoutTable">
						<tr>
							<td align="left" valign="top" class="d2w_property_cell_vl_label"><webobject name="PropertyNameSpan"><webobject name="PropertyName"></webobject></webobject></td>
						</tr>
						<tr>
							<td align="left" valign="top" class="d2w_property_cell_vl_value"><webobject name="PropertyValueSpan"><webobject name=AttributeValue></webobject></webobject></td>
						</tr>
					</webobject></webobject>
				</webobject></td>
            </tr>
        </webobject>
        <tr height=6>
            <td colspan=3>&nbsp;</td>
        </tr>
    </webobject>
</table>