{
    attributes = (
        {
            allowsNull = N; 
            columnName = "blog_entry_id"; 
            name = blogEntryId; 
            prototypeName = key; 
        }, 
        {
            allowsNull = N; 
            columnName = "blog_entry_view_history_id"; 
            name = blogEntryViewHistoryId; 
            prototypeName = key; 
        }, 
        {
            allowsNull = N; 
            columnName = "creation_time"; 
            name = creationTime; 
            prototypeName = datetime; 
        }, 
        {
            columnName = "remote_address"; 
            name = remoteAddress; 
            prototypeName = string32; 
        }, 
        {columnName = "request_uri"; name = requestUri; prototypeName = string4k; }, 
        {columnName = type; name = type; prototypeName = string32; }, 
        {columnName = "user_agent"; name = userAgent; prototypeName = string4k; }
    ); 
    className = "net.events.cms.eo.BlogEntryViewHistory"; 
    classProperties = (blogEntry, creationTime, remoteAddress, requestUri, type, userAgent); 
    externalName = "blog_entry_view_history"; 
    fetchSpecificationDictionary = {}; 
    name = BlogEntryViewHistory; 
    primaryKeyAttributes = (blogEntryViewHistoryId); 
    relationships = (
        {
            destination = BlogEntry; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = entryId; sourceAttribute = blogEntryId; }); 
            name = blogEntry; 
        }
    ); 
}
