// Entity Modeler v1.0.0
{
	attributes = (
		{
			columnName = action_description;
			name = actionDescription;
			prototypeName = string4k;
		},
		{
			allowsNull = N;
			columnName = action_id;
			name = actionId;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = from;
			name = from;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = inheritance_type;
			name = inheritanceType;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = name;
			name = name;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = subject;
			name = subject;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = template;
			name = template;
			prototypeName = string4k;
		},
		{
			allowsNull = N;
			columnName = to;
			name = to;
			prototypeName = string256;
		}
	);
	className = net.events.cms.eo.EmailAction;
	classProperties = (
		actionDescription,
		actionTriggers,
		from,
		inheritanceType,
		name,
		subject,
		template,
		to
	);
	externalName = actions;
	internalInfo = {};
	isAbstractEntity = N;
	name = EmailAction;
	parent = Action;
	primaryKeyAttributes = (
		actionId
	);
	relationships = (
		{
			deleteRule = EODeleteRuleDeny;
			destination = ActionTrigger;
			isMandatory = N;
			isToMany = Y;
			joinSemantic = EOInnerJoin;
			joins = (
				{
					destinationAttribute = actionId;
					sourceAttribute = actionId;
				}
			);
			name = actionTriggers;
		}
	);
	restrictingQualifier = "inheritanceType = 'EmailAction'";
}