{
    attributes = (
        {
            allowsNull = N; 
            columnName = "entry_status_id"; 
            name = entryStatusId; 
            prototypeName = key; 
        }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = string256; }, 
        {columnName = "order_number"; name = orderNumber; prototypeName = integer; }, 
        {
            columnName = "status_description"; 
            name = statusDescription; 
            prototypeName = string4k; 
        }
    ); 
    className = "net.events.cms.eo.EntryStatus"; 
    classProperties = (name, orderNumber, statusDescription); 
    externalName = "entry_status"; 
    fetchSpecificationDictionary = {}; 
    name = EntryStatus; 
    primaryKeyAttributes = (entryStatusId); 
}
