// Entity Modeler v1.0.1
{
	attributes = (
		{
			allowsNull = N;
			columnName = component_name;
			name = componentName;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = element_id;
			name = elementId;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = element_name;
			name = elementName;
			prototypeName = string256;
		}
	);
	className = net.events.cms.eo.InterfaceElementType;
	classProperties = (
		componentName,
		elementName
	);
	externalName = interface_element_types;
	internalInfo = {};
	name = InterfaceElementType;
	primaryKeyAttributes = (
		elementId
	);
}