// Entity Modeler v1.0.0
{
	attributes = (
		{
			allowsNull = N;
			name = id;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = instance_name;
			name = instanceName;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = last_action_time;
			name = lastActionTime;
			prototypeName = datetime;
		},
		{
			allowsNull = N;
			columnName = logged_out;
			name = logged_out;
			prototypeName = flag;
		},
		{
			columnName = navigation_state;
			name = navigationState;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = session_id;
			name = sessionId;
			prototypeName = string256;
		},
		{
			allowsNull = N;
			columnName = user_id;
			name = userId;
			prototypeName = key;
		}
	);
	className = net.events.cms.eo.SessionTrack;
	classProperties = (
		instanceName,
		lastActionTime,
		logged_out,
		navigationState,
		sessionId,
		user
	);
	externalName = session_track;
	internalInfo = {};
	name = SessionTrack;
	primaryKeyAttributes = (
		id
	);
	relationships = (
		{
			destination = Person;
			isMandatory = Y;
			joinSemantic = EOInnerJoin;
			joins = (
				{
					destinationAttribute = contactId;
					sourceAttribute = userId;
				}
			);
			name = user;
		}
	);
}