<webobject name="ModificationRepetition">
	<strong><webobject name="ModAttributeNameLabel"></webobject>: </strong><webobject name="ModAttributeNameString"></webobject><br>
	<table width="100%"><tr>
		<td width="47%" valign="top"  style="border-bottom: 1px solid #ccc;"><webobject name="OldValue"></webobject></td>
		<td width="6%"  style="border-bottom: 1px solid #ccc;">&raquo;</td>
		<td width="47%" valign="top"  style="border-bottom: 1px solid #ccc;"><webobject name="NewValue"></webobject></td>
	</tr></table>
</webobject>