<webobject name="Conditional1">
	<webobject name="UseTextConditional"><webobject name="DeleteEO2"><webobject name="DeleteString"></webobject></webobject></webobject>
	<webobject name="UseImageConditional"><webobject name="DeleteEO2"><webobject name="DeleteImage2"></webobject></webobject></webobject>
</webobject>
<webobject name="Conditional2">
	<webobject name="UseTextConditional"><webobject name="DeleteString"></webobject></webobject>
	<webobject name="UseImageConditional"><webobject name="Image1"></webobject></webobject>
</webobject>
