// Entity Modeler v1.0.1
{
	attributes = (
		{
			allowsNull = N;
			columnName = action_log_id;
			name = actionLogId;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = action_trigger_id;
			name = actionTriggerId;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = client_id;
			name = clientId;
			prototypeName = key;
		},
		{
			allowsNull = N;
			columnName = creation_time;
			name = creationTime;
			prototypeName = datetime;
		}
	);
	className = net.events.cms.eo.ActionTriggerLog;
	classProperties = (
		actionTrigger,
		client,
		creationTime
	);
	externalName = action_trigger_logs;
	internalInfo = {};
	name = ActionTriggerLog;
	primaryKeyAttributes = (
		actionLogId
	);
	relationships = (
		{
			destination = ActionTrigger;
			isMandatory = Y;
			isToMany = N;
			joinSemantic = EOInnerJoin;
			joins = (
				{
					destinationAttribute = actionTriggerId;
					sourceAttribute = actionTriggerId;
				}
			);
			name = actionTrigger;
		},
		{
			destination = Client;
			isMandatory = Y;
			isToMany = N;
			joinSemantic = EOInnerJoin;
			joins = (
				{
					destinationAttribute = clientId;
					sourceAttribute = clientId;
				}
			);
			name = client;
		}
	);
}