{
    attributes = (
        {allowsNull = N; columnName = "blog_id"; name = blogId; prototypeName = key; }, 
        {
            allowsNull = N; 
            columnName = "category_name"; 
            name = categoryName; 
            prototypeName = string256; 
        }, 
        {
            allowsNull = N; 
            columnName = "client_id"; 
            name = clientId; 
            prototypeName = key; 
        }, 
        {
            columnName = "entry_category_id"; 
            name = entryCategoryId; 
            prototypeName = key; 
        }
    ); 
    className = "net.events.cms.eo.BlogEntryCategory"; 
    classProperties = (blog, categoryName, client, entries); 
    externalName = "blog_entry_categories"; 
    fetchSpecificationDictionary = {}; 
    name = BlogEntryCategory; 
    primaryKeyAttributes = (entryCategoryId); 
    relationships = (
        {
            destination = Blog; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = blogId; sourceAttribute = blogId; }); 
            name = blog; 
        }, 
        {
            destination = Client; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = clientId; sourceAttribute = clientId; }); 
            name = client; 
        }, 
        {
            destination = BlogEntry; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = categoryId; sourceAttribute = entryCategoryId; }); 
            name = entries; 
            numberOfToManyFaultsToBatchFetch = 50; 
        }
    ); 
}
