{
    attributes = (
        {
            allowsNull = N; 
            columnName = "client_id"; 
            name = clientId; 
            prototypeName = key; 
        }, 
        {columnName = "domain_id"; name = domainId; prototypeName = key; }, 
        {columnName = "site_id"; name = siteId; prototypeName = key; }, 
        {allowsNull = N; columnName = url; name = url; prototypeName = string256; }
    ); 
    className = "net.events.cms.eo.Domain"; 
    classProperties = (client, site, url); 
    externalName = domains; 
    fetchSpecificationDictionary = {}; 
    name = Domain; 
    primaryKeyAttributes = (domainId); 
    relationships = (
        {
            destination = Client; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = clientId; sourceAttribute = clientId; }); 
            name = client; 
        }, 
        {
            destination = Site; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = siteId; sourceAttribute = siteId; }); 
            name = site; 
        }
    ); 
}
