{
    attributes = (
        {
            allowsNull = N; 
            columnName = "gender_id"; 
            name = genderId; 
            prototypeName = key; 
        }, 
        {
            allowsNull = N; 
            columnName = isocode; 
            name = isoCode; 
            prototypeName = integer; 
        }, 
        {allowsNull = N; columnName = name; name = name; prototypeName = string32; }
    ); 
    className = "net.events.cms.eo.Gender"; 
    classProperties = (isoCode, name); 
    externalName = genders; 
    fetchSpecificationDictionary = {}; 
    name = Gender; 
    primaryKeyAttributes = (genderId); 
}
