
{
    attributes = 
    (
       
       {
           allowsNull = N;
           columnName = code;
           name = code;
           prototypeName = string32;
       }, 
       
       {
           allowsNull = N;
           columnName = country_id;
           name = countryId;
           prototypeName = key;
       }, 
       
       {
           allowsNull = N;
           columnName = name;
           name = name;
           prototypeName = string256;
       }, 
       
       {
           allowsNull = N;
           columnName = province_id;
           name = provinceId;
           prototypeName = key;
       }
    );
    className = net.events.cms.eo.Province;
    classProperties = 
    (
       code, 
       country, 
       name
    );
    externalName = provinces;
    internalInfo = 
    {};
    name = Province;
    primaryKeyAttributes = 
    (
       provinceId
    );
    relationships = 
    (
       
       {
           destination = Country;
           isMandatory = Y;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = countryId;
                  sourceAttribute = countryId;
              }
           );
           name = country;
       }
    );
}