<wo:EVPageWrapper html="$page.pageWrapper.componentTemplate">
	<div id = "right_box">
		<wo:EVRecentBlogEntriesComponent page = "$page" />
		<wo:EVBlogCategoryList page = "$page" />
		<wo:EVGoogleAdSenseComponent />
	</div>
	<div id="blog_content">
		<h1><wo:string value = "$blogPage.blog.name" /><wo:conditional condition = "$selectedCategory"> (<wo:string value = "$selectedCategory.categoryName" />)</wo:conditional></h1>
		<div class="blog_entry">
			<wo:string value="$blogPage.pageDescription" />
		</div>
		<wo:loop list="$blogEntries" item="$blogEntry">
			<wo:EVBlogEntryComponent blogEntry = "$blogEntry" showTeaser = "$true" disableDetailLinks = "$false" catId = "$selectedCategory.primaryKey"/>
		</wo:loop>
		<webobject name = "ERXDirectActionBatchNavigationBar"/>
	</div>
</wo:EVPageWrapper>
