<div class="blog_entry">
	<div class="blog_entry_date"><webobject name = "BlogEntryCreationTime"/></div>
	<h1><webobject name = "Link"><webobject name = "BlogEntryTitle"/></webobject></h1>
	<h2><webobject name = "BlogEntrySubtitle"/></h2>
	<webobject name = "ShowTeaser"><div class="blog_entry_teaser"><webobject name = "BlogEntryTeaser"/></div></webobject>
	<webobject name = "DontShowTeaser"><div class="blog_entry_content"><webobject name = "BlogEntryContent"/></div></webobject>
	<webobject name = "ShowReadMoreLink"><div class="blog_entry_detail_link"><webobject name="Link">[ <webobject name = "ERXLocalizedString"/> ]</webobject></div></webobject>
	<div class="blog_entry_bottom_line">
		<webobject name = "ERXLocalizedString1"/>: <webobject name = "BlogEntryCreatedByFirstname"/>&nbsp;&nbsp;|&nbsp;&nbsp;<webobject name = "ERXLocalizedString2"/>: <webobject name = "BlogEntryCommentsCount"/>
		&nbsp;&nbsp;|&nbsp;&nbsp;<webobject name = "BlogPageCategory"/>&nbsp;: <webobject name = "BlogEntryCategoryCategoryName"/>
	</div>
</div>