<webobject name="ListTable">
<webobject name="ShowQuickSearchConditional">
	<tr>
		<webobject name="SearchCell"><webobject name="Quicksearch"></webobject></webobject>
	</tr>
</webobject>
<tr>
	<webobject name="IsEntityEditableConditional"><th align="center">&nbsp;</th></webobject>
	<webobject name="ColumnHeaderRepetition"><webobject name="HeaderCell"><webobject name="HeaderString"></webobject></webobject></webobject>
	<webobject name="IsEntityDeletableConditional"><th align="center">&nbsp;</th></webobject>
</tr>
<webobject name="RowRepetition">
	<webobject name="TableRowContainer">
		<webobject name="IsEntityEditableConditional">
			<td align="center"><webobject name="EditLink"><webobject name="EditImage"></webobject></webobject></td>
		</webobject>
		<webobject name="ColumnRepetition"><webobject name="ContentCell"><webobject name="ColumnValue"></webobject></webobject>
		</webobject>
		<webobject name="IsEntityDeletableConditional">
			<td align="center"><webobject name="DeleteLink"><webobject name="TrashcanImage"></webobject></webobject></td>
		</webobject>
	</webobject>
</webobject>
<tr>
	<webobject name="BatchNavCell"><webobject name="BatchNavBar"></webobject></webobject>
</tr>
</webobject>