<webobject name="HasPropertyName"><webobject name="GenericContainer2"><webobject name="PropertyName"></webobject><webobject name="DisplayMandatory">&nbsp;*</webobject></webobject></webobject><webobject name=DebuggingEnabled>
	<a onmouseout="this.innerHTML=this.innerHTML.replace('visibility: visible;','visibility: hidden;');" onmouseover="this.innerHTML=this.innerHTML.replace('visibility: hidden;','visibility: visible;');">?
		<span onclick="this.style.visibility='hidden'; return false;" style="position:absolute;visibility: hidden;">
			<table border=1 onclick="this.style.visibility='hidden'; return false;" bgcolor=white color=black>
				<webobject name=Repetition1>
					<tr>
						<td><b><span style="color: black;"><webobject name=String1></webobject></span></b></td>
						<td><span style="color: black;"><webobject name=String2></webobject></span></td>
					</tr>
				</webobject>
			</table>
		</span>
	</a>
</webobject>