<webobject name = "PageWrapper">
<div style="margin: 8px 8px;">
	<h1 style="margin-left: 0;"><wo:localized value="EVCMS.LOGGED_IN_USERS_HEADER"></wo:localized></h1>
	<p style="text-align: left;"><wo:localized value="EVCMS.THE_LIST_WILL_UPDATE"></wo:localized></p>
	<webobject name = "AjaxUpdateContainer">
	<table class="d2w_listtable" width="100%">
		<tr>
			<th align="left"><wo:localized value="Firstname" /></th>
			<th align="left"><wo:localized value="Lastname" /></th>
			<th style="text-align: center;"><wo:localized value="Time of last action" /></th>
			<th style="text-align: center;"><wo:localized value="Instance" /></th>
			<th align="left"><wo:localized value="Navigation State" /></th>
		</tr>
		<wo:loop list = "$currentUsers" item = "$dynamicBindings.user">
		<tr>
			<td align="left"><wo:string value="$dynamicBindings.user.FIRSTNAME"></wo:string></td>
			<td align="left"><wo:string value="$dynamicBindings.user.LASTNAME"></wo:string></td>
			<td style="text-align: center;"><wo:string value="$dynamicBindings.user.LAST_ACTION_TIME" dateformat = "%d.%m.%Y - %H:%M:%S"></wo:string></td>
			<td style="text-align: center;"><wo:string value="$dynamicBindings.user.INSTANCE_NAME" /></td>
			<td align="left"><wo:string value="$dynamicBindings.user.NAVIGATION_STATE"></wo:string></td>
		</tr>
		</wo:loop>
	</table>
	</webobject>
</div>
</webobject>