<ul class="d2w_edit_tab_ul"><webobject name="TabRepetition">
	<webobject name="SelectedTabConditional">
		<li class="d2w_edit_tab_selected_li"><webobject name="TabName"></webobject></li>
	</webobject>
	<webobject name="NotSelectedTabConditional">
		<li  class="d2w_edit_tab_nonselected_li"><webobject name="HasSubmitAction">
			<webobject name="UseLinkForTabSwitch">
				<webobject name="SubmitButton1"></webobject>
				<webobject name="Hyperlink1"><webobject name="TabName4"></webobject></webobject>
			</webobject>
			<webobject name="DoNotUseLinkForTabSwitch">
				<webobject name="TabImage"></webobject>&nbsp;<webobject name="TabName4"></webobject>
			</webobject>
		</webobject>
		<webobject name="HasNoSubmitAction">
			<webobject name="TabLink"><webobject name="TabName3"></webobject></webobject>
		</webobject>
	</li></webobject>
</webobject></ul>
