<wo name="PageWrapper">
	<div id = "login_panel">
		<webobject name="Form1">
			<table class="logintable" cellspacing="1" cellpadding="6" border="0" width="100%">
				<webobject name="MessageAvailableConditional">
					<tr>
						<td colspan="2" align="left" valign="middle"><span class="loginfailed"><img src="/events/d2w/img/stop-sign.gif" alt="Stop Sign" /><webobject name="MessageString"></webobject></span></td>
					</tr>
				</webobject>
	            <tr>
	                <td align="right"><webobject name="LoginString"></webobject></td>
	                <td><webobject name="LoginTextField"></webobject></td>
	            </tr>
				<tr>
					<td align="right"><webobject name="PasswordString"></webobject></td>
					<td><webobject name="PasswordTextfield"></webobject></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><webobject name="SubmitButton"></webobject></td>
				</tr>
			</table>
		</webobject>
	</div>
</wo>