<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/events/d2w/css/evd2w.css">
	<title>Designer - Session Timeout</title>
</head>
<body>
	<div class="b_400 border_red error_bg">
		<wo:localized value = "SessionTimeOutPage.YOUR_SESSION_TIMED_OUT" escapeHTML = "$false"></wo:localized>
		<wo:link directActionName = "default"><wo:localized value="SessionTimeOutPage.GO_TO_LOGIN" escapeHTML = "$false"></wo:localized></wo:link>
	</div>
</body>
</html>
